@import "./variables";

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10% 5%;
  justify-content: space-between;
  margin: 5%;

  @media (max-width: $screen-md) {
    max-width: 100vw;
    display: flex;
    overflow-x: auto;
  }

  @media (max-width: $screen-xs) {
    display: flex;
    overflow-x: auto;
  }
}

.card {
  color: $dark-green;
  cursor: pointer;
  background-color: $white;
  border-radius: 5px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-image {
    width: 100%;
    display: flex;
    justify-content: center;

    > img {
      width: 80%;
    }
  }

  &-description {
    > h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    > p {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  }

  &-filter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    > img {
      margin: 2px;
    }
  }
}
