@import "./variables";

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 9% 5%;
  font-size: 1.3rem;
  background-color: $white;

  select {
    margin-top: 10%;
    border: 1px solid $gray;
    color: $gray;
    background-color: $white;
    border-radius: 25px;
    padding: 10px;
    width: 90%;
    font-size: 1.5rem;
    font-family: $montserrat;
    cursor: pointer;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;       /* Remove default arrow */
    // background-image: url(...);   /* Add custom arrow */

    @media (max-width: $screen-md) {
      font-size: 1rem;
      padding: 5px;
    }

    @media (max-width: $screen-xs) {
      font-size: 1.2rem;
    }
  }

  .sun,
  .water,
  .pets {
    margin-right: 5%;
    margin-left: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: $gray;

    > img {
      height: 100px;
      margin-bottom: 10px;
    }

    @media (max-width: $screen-md) {
      font-size: 1rem;
    }

    @media (max-width: $screen-xs) {
      width: 90%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 70px;
      font-size: 1.2rem;
    }
  }

  @media (max-width: $screen-xs) {
    flex-direction: column;
  }
}
