/* Colors */
$dark-green: #15573f;
$light-green: #75bc97;
$white: #ffffff;
$off-white: #f2f2f2;
$gray: #6e6e6e;
$light-gray: #a8a8a8;

/* Fonts */
$montserrat: "Montserrat", sans-serif;

/* Screen sizes */
$screen-xs: 450px;
$screen-md: 768px;